@font-face {
    font-display: swap;
    font-family: 'Archivo-Narrow-Regular';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/archchivo_narrow/archivo-narrow.regular.otf'),
      url('../fonts/archchivo_narrow/archivo-narrow.regular.ttf');
  }
  @font-face {
    font-display: swap;
    font-family: 'Archivo-Narrow-Bold';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/archchivo_narrow/archivo-narrow.bold.otf'),
      url('../fonts/archchivo_narrow/archivo-narrow.bold.ttf');
  }
  @font-face {
    font-display: swap;
    font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto/Roboto-Regular.ttf'),
  }
  @font-face {
    font-display: swap;
    font-family: 'Istok-Italic-Bold';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/istokWeb/IstokWebBoldItalic.ttf'),
    url('../fonts/istokWeb/IstokWebBoldItalic.woff')
  }
  @font-face {
    font-display: swap;
    font-family: 'Istok-Regular-Bold';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/istokWeb/IstokWebBold.ttf'),
    url('../fonts/istokWeb/IstokWebBold.woff')
  }

  @font-face {
    font-display: swap;
    font-family: 'Istok-Regular-Bold';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/istokWeb/IstokWebBold.ttf'),
    url('../fonts/istokWeb/IstokWebBold.woff')
  }
  
  @font-face {
    font-display: swap;
    font-family: 'Istok-Regular';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/istokWeb/IstokWebRegular.ttf'),
    url('../fonts/istokWeb/IstokWebRegular.woff')
  }
  
  