
.mX210restOpportunities{

    width: 100%;
    padding: 45px 0px 65px 0px;
    background-color: #00A197;
    display: flex; 
    align-items: center;
}

.mX210restOpportunities ul{
    width: 100%; 
    max-width: 1162px;
    margin: auto;
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    flex-wrap: wrap; 

}

// .mX210restOpportunities ul li{
//     margin-top: 20px;

// }

// .mX210restOpportunities ul li{
//     margin-top: 20px;
// }

.mX210restOpportunities ul li div{
    margin-right: 0px;

}

@media screen and (max-width:  1200px) {

    .mX210restOpportunities {

       padding-left: 24px;
       padding-right: 24px;
    }
}

@media screen and (max-width:  1000px) {

    .mX210restOpportunities ul {

       gap: 10px;
    }
}

@media screen and (max-width:  370px) {

    .mX210restOpportunities ul {
        
        justify-content: center;
    
    }
}