@import "../../../../assets/styles/mixins/mixins.scss";

.Mx210opportunities {

    position: relative; 
    margin-bottom: 65px;
}

.Mx210opportunities_line {

    width: 100%;
    height: 130px;
    padding-top: 22px;
    display: flex;
    position: absolute; 
    top: 150px; 
    z-index: -1;
    background-color: #4DBDB6;
    font-family: 'Archivo-Narrow-Bold';
    
}

.Mx210opportunities_line div {
    @include header-bold-100px;

    width: 100%;
    max-width: 1162px;
    margin: auto;
    color: white;
}

.Mx210opportunities_line div span {

    @include text-bold-30px;

    font-family: 'Archivo-Narrow-Bold';
    color: #FCFCFC;

}


.Mx210opportunities_fullInfo {

    width: 100%;
    max-width: 1162px;
    margin: auto;
    position: relative;
}

.Mx210opportunities_fullInfo article {

   display: flex;
   justify-content: space-between;
}

.Mx210opportunities_fullInfo article p{

    @include text-regular-20px;

    width: 100%;
    max-width: 504.33px;
    padding-top: 313px;
    margin-bottom: 39px;
    font-family: 'Istok-Regular';
    color: #212529;
}

.Mx210opportunities_fullInfo article p span{

    padding-top: unset;
}

.Mx210opportunities_fullInfo article p strong{

    font-weight: normal;
    font-style: normal;
    text-decoration: none;

    @include text-bold-20px;

    font-family: 'Istok-Regular-Bold';

}

.Mx210opportunities_wrapperImg {

    position: relative;
}

.Mx210opportunities_wrapperImg div{
    @include text-regular-20px;

    height: 79.66px;
    width: 214.79px;
    padding: 10.83px 17.7px 10.83px 17.7px;
    position: absolute;
    right: 0px;
    top: 380px;
    color: white; 
    background-color: #4DBDB6;
    line-height: 28.79px;
    font-family: 'Istok-Regular-Bold';


}
.Mx210opportunities_listOpportunities {

    width: 100%; 
    margin-top: 62px;
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
}

.Mx210opportunities_wrapperList {

    width: calc( 100% - 832px); 
    padding-left: 195px;
    display: flex; 
    align-items: end; 
}

.Mx210opportunities_wrapperList ul {
    gap: 37px;
  
  }

  .Mx210opportunities_wrapperList ul li div{
    margin-right: 0px;
 
 }

 .Mx210opportunities_wrapperList ul li {
    margin-top: 10px;
 
 }

.Mx210opportunities_listWrapper {

    width: calc( 100% - 536px); 
    display: flex; 
    align-items: center; 
}

@media screen and (max-width:  1000px) {

    .Mx210opportunities_listOpportunities {

       gap: 10px;
    }
}

@media screen and (max-width:  1200px) {

    .Mx210opportunities_fullInfo, .Mx210opportunities_line {

       padding-left: 24px;
       padding-right: 24px;
    }
}


@media screen and (max-width:  940px) {
    

    .Mx210opportunities_fullInfo article {

        flex-direction: column-reverse;
     }

     .Mx210opportunities_wrapperImg{

        padding-top: 300px;
        margin: auto;
     }
     
     .Mx210opportunities_fullInfo article p{

        padding-top: 20px;
        max-width: unset;
    }
}

@media screen and (max-width:  490px) {

    .Mx210opportunities_line div {
       font-size: 50px;
    }

}

@media screen and (max-width: 380px) {

    .Mx210opportunities_line div span {

     font-size: 20px;
    
    }

}

@media screen and (max-width:  370px) {

    .Mx210opportunities_listOpportunities {
        justify-content: center;
    
    }
}