@import "../../../../assets/styles/mixins/mixins.scss";


.swiper_block{

    width: 100%;
    padding-top: 160px;
    padding-top: 72px;

}

.swiper_wrapperBlock {

    margin: auto; 
    max-width: 1162px; 
    width: 100%; 
    display: flex; 
    justify-content: space-between;

}

.swiper_block div article {
   
    max-width: 558px;
    width: 100%;
    color: #000000;
    margin: auto;

}

.swiper_block div article header{

    @include header-bold-60px;

    font-family: 'Archivo-Narrow-Bold';
}

.swiper_block div article img{

  margin-bottom: 78px;
}

.swiper_block div article ul {
    
    padding-left: 20px;

 }

 .swiper_block div article ul li{ 

    @include text-regular-20px;

    margin: 15px;
    font-family: 'Istok-Regular';
    list-style: disc;

 }

 @media screen and (max-width:  1200px) {

    .swiper_wrapperBlock{

       display: flex;
       align-items: center;
       flex-direction: column-reverse;
    }
}



 @media screen and (max-width:  800px) {

    .swiper_block{

      padding-left: 24px;
      padding-right: 24px;
    
    }

   }

   @media screen and (max-width: 350px) {

    .swiper_block div article header{

       font-size: 40px;
    }

}
