@import "../../../assets/styles/mixins/mixins.scss";
@import "./mixins.scss";

.form_header {

    @include header-bold-60px;

    width: 100%;
    max-width: 1162px;
    margin: auto;
    margin-top: 55px;
    margin-bottom: 45px;
    font-family: "Archivo-Narrow-Bold";
    color: #212529;
}
.button_to_main_page_buttonWrapper {

    @include button-to-main-page-variant-styles;

    width: 37.3px;
    height: 37.3px;
    margin-right: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #797979;
    cursor: pointer;

}

.form_window {

    border-radius: 4px;
}

.form_window header{

    @include header-bold-40px;

    line-height: 57.6px;
    color: #212529;
    font-family: 'Archivo-Narrow-Bold';

}

.form_ADakytec {
    background: linear-gradient(
        to right,
        rgba(17, 38, 58, 1),
        rgba(25, 61, 94, 1),
        rgba(8, 128, 132, 1),
        rgba(8, 128, 132, 1),
        rgba(0, 161, 151, 1)
    );

}