.layout_client {

    min-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}

.layout_client_container {
    
    width: 100%;
    height: calc(100% - 482px);
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}