@import '../../../../assets//styles/mixins/mixins.scss';
@import "./mixin.scss";

.button {

    @include button-text-bold-16px;
    @include button-variant-styles;

    height: 60px;
    border-radius: 30px;
    font-family: 'Archivo-Narrow-Bold';
    display: flex;
    justify-content: center;
    align-items: center;

}

.button--white {

    background-color: #F7F7F7;
    color: #527C79;
}

.button--magenta {

    background-color: #FF007D;
    color: #FFFFFF;
}

.button--teal {

    background-color: #183856;
    color:  #FFFFFF;
}

.button--large {

    width: 100%;
    max-width: 314.24px;
}

.button--medium {

    width: 100%;
    max-width: 263.53px;
}

.button--small {

    width: 100%;
    max-width: 242px;
}