@import "../../../../assets/styles/mixins/mixins.scss";


.button_to_main_page {

    width: 100%;
    margin-top: 61.41px;
    margin-bottom: 58.78px;
}

.button_to_main_page_container {

    display: flex;
    align-items: center;
    
}

.button_to_main_page_buttonWrapper {

    width: 37.3px;
    height: 37.3px;
    margin-right: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #797979;
    cursor: pointer;

}

.button_to_main_page_container div {
 
    display: flex;
}

.button_to_main_page_container div div,  .button_to_main_page_container div div{
    @include text-regular-16px;

    font-family: 'Istok-Regular';
    color: #797979;
}

.button_to_main_page_container div div:last-child {

    height: 20px;
    margin-left: 5px;
    border-bottom: 1px solid #797979;
}


