
.moidificationBlock {

    padding: 0px 195px 0px 195px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.moidificationBlock__listModifications{

    max-width: 1530px;
    width: 100%;
    gap: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    
    }

    .moidificationBlock_listCheckbox{

        max-width: 1530px;
        width: 100%;
        min-height: 83px;
        border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        }

    
@media screen and (max-width:  860px) {

    .moidificationBlock {

        padding: 0px 20px 0px 20px;
       
    }

    .moidificationBlock ul {

        align-items: center;
    }

}

@media screen and (max-width: 1600px) {

    .moidificationBlock_listCheckbox{
    
      flex-wrap: wrap;
    
    }
  }