@import "../../../../assets/styles/mixins/mixins.scss";

.moidificationBlock {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F8F8F8;

}

.moidificationBlock_title {

    @include header-bold-60px;

    margin-top: 80px;
    margin-bottom: 42px;
    text-align: center;
    letter-spacing: -0.6px;
    font-family: 'Archivo-Narrow-Bold';
}

.moidificationBlock__listModifications {

    max-width: 1162px;
    width: 100%;
    margin: auto;
    gap: 11px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;

}

.moidificationBlock_listCheckbox {

    max-width: 1162px;
    width: 100%;
    // padding-left: 34px;
    // padding-right: 34px;
    min-height: 83px;
    margin-bottom: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: white;

}


.moidificationBlock_listCheckbox span:first-child {

    @include text-regular-20px;

    font-family: 'Istok-Regular';

}


.moidificationBlock_listCheckbox div {

    display: flex;

}

.moidificationBlock_listCheckbox div span:first-child {
    @include text-bold-20px;

    font-family: 'Istok-Regular-Bold';

}

.moidificationBlock__listModifications_empty {

    @include text-bold-20px;

    width: 100%;
    margin: 50px 0px 80px 0px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-family: 'Istok-Regular-Bold';
}

.moidificationBlock_hideFiltersBlock {

    @include text-regular-20px;

    width: 23%;
    color: #000000;
    font-family: 'Istok-Regular';
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: auto;

}

.moidificationBlock_hideFiltersBlock button{

    @include text-regular-20px;

    color: #3AB992;
    font-family: 'Istok-Regular';

}

@media screen and (max-width: 1230px) {


    
.moidificationBlock__listModifications {

    padding-left: 24px;
    padding-right: 24px;


}

}


@media screen and (max-width: 1200px) {

    .moidificationBlock_listCheckbox {
        
        flex-wrap: wrap;

    }

    .moidificationBlock {

        padding-left: 24px;
        padding-right: 24px;
    
    }

    .moidificationBlock_hideFiltersBlock {
        
        width: 76%;
        margin: auto;
  
      }
  

}

@media screen and (max-width: 1100px) {

    .moidificationBlock__listModifications_empty {

        font-size: 30px;
    }

}



@media screen and (max-width: 860px) {

    .moidificationBlock ul {

        align-items: center;
    }

}

@media screen and (max-width: 860px) {

    .moidificationBlock ul {

        align-items: center;
    }

}


@media screen and (max-width: 750px) {

    .moidificationBlock_boxCheckbox {
        
       width: 100% !important;

    }

    .moidificationBlock_hideFiltersBlock {
        
        width: 100%;
  
      }

}

@media screen and (max-width: 720px) {

    .moidificationBlock__listModifications_empty {

        font-size: 20px;
    }

}

@media screen and (max-width: 720px) {

    .moidificationBlock__listModifications_empty {

        font-size: 20px;
    }

}

@media screen and (max-width: 600px) {

    .moidificationBlock_boxCheckbox {
        
       justify-content: unset !important;

    }

}

// @media screen and (max-width: 500px) {

//     .moidificationBlock_listCheckbox div {

//         width: 100%;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         flex-wrap: wrap;
    
//     }

//     .moidificationBlock_listCheckbox div ul{

//         flex-wrap: wrap;
    
//     }

    
//     .moidificationBlock__listModifications_empty {

//         font-size: 15px;
//     }

// }

@media screen and (max-width: 400px) {


    
    .moidificationBlock__listModifications {
    
        padding-left: 0px;
        padding-right: 0px;
    
    
    }
    
    }
