@import "../../../../assets/styles/mixins/mixins.scss";


.moduleAd, .moduleAd_Mx210 {

    width: 100%;
    padding-bottom: 134px;
    position: relative;
    display: flex;
    justify-content: center;
}

.moduleAd_img, .moduleAd_img_complex {

    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -2;
}

.moduleAd article, .moduleAd_Mx210 article {

    width: 100%;
    display:flex ;
    justify-content: space-between;


}

.moduleAd_description, .moduleAd_description_Mx210 {

    max-width: 55.5%;
    margin-top: 103px;
    margin-left: 35px;
    color: #FFFFFF;
}

.moduleAd_description_Mx210 header{
    @include header-bold-60px;

    width: 100%;
    margin-bottom: 28px;
    color: #FFFFFF;
    font-family: "Archivo-Narrow-Bold";
}

.moduleAd_description header {
    @include header-bold-60px;

    width: 100%;
    line-height: 73px;
    font-family: "Archivo-Narrow-Bold";
}

.moduleAd_description ul,.moduleAd_description_Mx210 ul {

    max-width: 560px;
    margin-top: 29px;
    margin-bottom: 72px;
    margin-left: 40px;
}

.moduleAd_description ul li, .moduleAd_description_Mx210 ul li {

    @include text-regular-20px;

    line-height: 28.79px;
    font-family: 'Istok-Regular';
    list-style: disc;
}

.moduleAd_modulePhoto {

    width: 46%;
    margin-top: 83px;
    // padding-left: 35px;

}

.description_Mx210 {
    @include text-regular-20px;

    max-width: 500px;
    width: 100%;
    margin-bottom: 68px;
    color: #FFFFFF;
    font-family: 'Istok-Regular';
}

 @media screen and (max-width: 1220px) {

 .moduleAd_img_complex {

    display: none !important;
 }

 .moduleAd_modulePhoto {

    padding-left: 0px;

}

 }

 @media screen and (max-width: 1200px) {


    .moduleAd_Mx210 {

        padding-left: 24px;
        padding-right: 24px;
    }
    }
 

@media screen and (max-width: 950px) {

    .moduleAd article, .moduleAd_Mx210 article {

      padding-left: 24px;
      padding-right: 24px;
      flex-direction: column-reverse;
      align-items: center;
    }

    .moduleAd article div, .moduleAd_Mx210 article div{

     width: 100%;
     max-width: 100%;
     margin-left: unset;
      }

      .moduleAd_modulePhoto {

        width: 70% !important;
      }

      .moduleAd_description {
       margin-top: 30px;
    }

    .moduleAd, .moduleAd_Mx210 {

        padding-bottom: 60px;
    }

}

@media screen and (max-width: 720px) {


    .moduleAd_description header, .moduleAd_description_Mx210 header{
       
        line-height: 50px;
        font-size: 50px;
    }
}

@media screen and (max-width: 500px) {


    .moduleAd_description header, .moduleAd_description_Mx210 header {
       
        line-height: 40px;
        font-size: 40px;
    }
}

@media screen and (max-width: 350px) {


    .moduleAd_description header, .moduleAd_description_Mx210 header {
       
        line-height: 30px;
        font-size: 30px;
    }
}
