@import "../../../../assets/styles/mixins/mixins.scss";


.moduleAd {

    width: 100%;
    padding-bottom: 134px;
    position: relative;
    display: flex;
    justify-content: center;
}

.moduleAd_img {

    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -2;
}

.moduleAd article {

    width: 100%;
    display:flex ;
    justify-content: space-between;


}

.moduleAd_description {

    max-width: 54%;
    margin-top: 103px;
    margin-left: 35px;
    color: #FFFFFF;
}

.moduleAd_description header {
    @include header-bold-60px;

    width: 100%;
    line-height: 73px;
    font-family: "Archivo-Narrow-Bold";
}

.moduleAd_description ul {

    max-width: 560px;
    margin-top: 29px;
    margin-bottom: 72px;
    margin-left: 40px;
}

.moduleAd_description ul li {

    @include text-regular-20px;

    line-height: 28.79px;
    font-family: 'Istok-Regular';
    list-style: disc;
}

.moduleAd_modulePhoto {

    width: 46%;
    margin-top: 83px;

}
@media screen and (max-width: 1500px) {

    .moduleAd article {

       padding-right: 20px;
    }
}

@media screen and (max-width: 1310px) {

    .moduleAd article {

       padding-left: 50px;
       padding-right: 20px;
    }
}

@media screen and (max-width: 750px) {

    .moduleAd article {

      flex-direction: column;
    }

}

@media screen and (max-width: 400px) {


    .moduleAd_description header {
       
        font-size: 40px;
    }
}


