@import '../../../assets/styles/mixins/mixins.scss';

.label_radio_button {

  width: fit-content;
  // padding-left: 1.3em;
  position: relative;
  display: flex;
  align-items: center;
}

.input_radio_button {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.fake_radio_button {

  width: 34px;
  height: 34px;
  padding: 6px;
  // margin-left: -0.6em;
  // position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  // top: 50%;
  // transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  background-color: #E7E7E7;
  font-family: 'Istok-Regular';
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  color: #212529;
  border-radius: 2px;
  
}

//hover effect; styles checked radio-button 
.fake_radio_button:hover{

  background-color: #00A197;
  color: #FFFFFF;
}
//active effect; styles checked radio-button 
.fake_radio_button:active{

  background-color: #00A197;
  color: #FFFFFF;

}

.fake_radio_button_checked_true{

  background-color: #00A197;
  color: #FFFFFF;

}

.fake_radio_button_checked_true:hover{

  background-color: #00A197;
  color: #FFFFFF;

}

.label_radio_number {
    @include text-regular-20px;

    margin-right: 24px;
    padding-left: 9px;
    font-family: 'Istok-Regular';
    color: black;
}